.title {
  font-size: 10vmax;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(21, 56, 33);
}

.logo {
  width: 100vw;
  height: 45vh;
  margin-top: 5vh;
  margin-left: 0px;
}

.links {
  font-size: 2vmax;
  margin-right: 1vmax;
  margin-left: 1vmax;
  margin-top: 0.5vmax;
  color: rgb(21, 56, 33);
}

#joinButton {
  font-size: 2vmax;
  margin-right: 1vmax;
  margin-top: 0.5vmax;
  float: right;
  background-color: rgb(124, 27, 27);
  color: rgb(255, 255, 255);
}
